main {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 500px;
    .mat-mdc-table {
        height: 100%;
        border: 1px solid hsla(0, 0%, 70%, 80%);

        *:not(a) {
            font-family: monospace;
            font-size: 16px;
            border: 1px solid hsla(0, 0%, 70%, 80%);
        }

        .mat-mdc-header-row {
            background-color: hsl(0, 0%, 90%);
        }

        .mat-mdc-row {
            width: 100%;
            max-height: 75px;
        }

        .mat-mdc-cell {
            max-width: 100px;
            max-height: 75px;
            padding: .5rem;
        }

        .cell {
            border: none;
            width: 100%;
            max-height: 75px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .page-navigator{
        align-self: center;
        display: flex;
        gap: 1rem;
        align-items: center;

        button.navigate{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: hsl(203, 85%, 54%);
            outline: none;
            border: none;
            padding: .25rem .5rem;
            cursor: pointer;
            transition: background-color 0.5s linear;
            border-radius: .5rem;
            &:hover{
                background-color: hsl(203, 85%, 64%);
            }

            .icon.arrow{
                color: white;
            }

        }

        .page-display{
            display: flex;
            align-items: center;
            gap: .15rem;
            input{
                max-width: 30px;
                outline:none;
                padding: .25rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

a{
    text-decoration: none;
    border: none;
    outline: none;
    margin: 0;
    color: blue;
}
