main {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 20%, 20%);
    backdrop-filter: blur(2px);

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: 101;
        height: fit-content;
        width: clamp(30%, 50%, 50%);
        background-color: hsla(0, 0%, 100%, 100%);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: .5rem;
        border-radius: .5rem;



        h2 {
            margin: 0;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .form-input {
                display: flex;
                flex-direction: column;
                gap: .25rem;

                input,
                select {
                    margin: 0;
                    padding: .5rem;
                    border: 2px solid hsla(0, 0%, 50%, 80%);
                    border-radius: .5rem;
                    resize: none;
                }

            }


            .selects {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                align-items: center;
                gap: .5rem;
            }

            .form-buttons{
                align-self: end;
                display: flex;
                gap: 1rem;
                button{
                    padding: .5rem;
                    border-radius: .5rem;
                    outline: none;
                    cursor: pointer;
                }

                button.create{
                    background-color: hsl(160, 100%, 60%);
                    transition: background-color .25s linear;
                    &:hover{
                        background-color: hsl(160, 100%, 80%);
                    }
                }
                button.cancel{
                    background-color: hsl(15, 80%, 70%);
                    transition: background-color .25s linear;
                    &:hover{
                        background-color: hsl(15, 80%, 80%);
                    }
                }
            }


        }
    }

}
