.main-page{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;

    header{
        h2 {
            margin: 0;
        }
    }

    main{
        .main-btns{
            align-self: flex-start;
            display: flex;
            button.btn{
                font-size: 1rem;
                padding: 0.5em 2rem;
                border-radius: 0.5rem;
                background-color: hsl(203, 85%, 54%);
                color: hsl(0, 0%, 100%);
                border: none;
                cursor: pointer;
                transition: background-color 0.5s linear;
                &:hover{
                    background-color: hsl(203, 85%, 64%);
                }
                display: flex;
                align-items: center;
            }
        }

        box-sizing: border-box;
        height: 100vh;
        width: 100%;
        background-color: white;
        padding: 2rem;
    }
}
