.main-page{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
    width: 100vw;
    height: fit-content;
    padding: 1rem 3rem;

    h2, h3, input, label{
        margin: 0;
    }

    main{
        align-self: center;
        width: 100%;
        display: flex;
        align-items: center;

        form#form-change-password{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            background-color: white;
            padding-right: 3rem;
            padding-bottom: 3rem;

            .form-header{
                align-self: flex-start;
                width: 100%;
                border-bottom: 2px solid hsla(0, 0%, 80%, 50%);
                padding: 1rem;
            }

            .form-main{
                width: 100%;
                align-self: flex-end;
                display: flex;
                flex-direction: column;
                margin: auto;
                gap: 2rem;
                .form-input{
                    white-space: nowrap;
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                    gap: .5rem;

                    input{
                        font-size: 1rem;
                        outline: none;
                        border: 2px solid hsla(0, 0%, 80%, 90%);
                        border-radius: .5rem;
                        padding: .5rem;
                    }

                    label{
                        justify-self: end;
                        align-self: center;
                    }

                }
                #form-button{
                    display: grid;
                    gap: .5rem;
                    grid-template-columns: 1fr 3fr;
                    button{
                        font-size: 1rem;
                        padding: 0.5em 2rem;
                        border-radius: 0.5rem;
                        background-color: hsl(203, 85%, 54%);
                        color: hsl(0, 0%, 100%);
                        border: none;
                        cursor: pointer;
                        transition: background-color 0.5s linear;

                        &:hover {
                            background-color: hsl(203, 85%, 64%);
                        }
                    }
                }
            }
        }
    }

}
