main{
    height: 100vh;
    background-color: white;
    margin: 2rem 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2{
        margin: 0;
    }

    .display{
        border: 0.5px solid hsl(0, 0%, 80%);
        display: flex;
        flex-direction: column;
        .key, .value{
            border: 0.5px solid hsl(0, 0%, 80%);
        }

        .row{
            display: grid;
            grid-template-columns: 1fr 4fr;
            width: 100%;
        }

        .cell{
            padding: .75rem;
        }

        .key{
            background-color: hsl(0, 0%, 95%);
        }

        .status{
            width: fit-content;
            height: fit-content;
            padding: .25rem;
            border-radius: .5rem;
            box-shadow: 0 0 2px 2px hsl(0, 0%, 90%);
        }

        .status.Planned {
           background-color: hsla(45, 100%, 51%, 70%);
        }

        .status.InProgress {
            background-color: hsla(28, 90%, 54%, 70%);
        }

        .status.Cancelled {
            background-color: hsla(0, 75%, 55%, 70%);
        }

        .status.Completed {
            background-color: hsla(142, 50%, 45%, 70%);
        }
    }
    button{
        font-size: 1rem;
        padding: 0.5em 2rem;
        border-radius: 0.5rem;
        background-color: hsl(203, 85%, 54%);
        color: hsl(0, 0%, 100%);
        border: none;
        cursor: pointer;
        transition: background-color 0.5s linear;
        &:hover{
            background-color: hsl(203, 85%, 64%);
        }
        display: flex;
        align-items: center;
        align-self: flex-start;
        gap: .25rem;
    }
}
